<div>
    <h2 id="page-heading">
        <span jhiTranslate="subastasApp.subastas.home.title">Subastas</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-subastas" [routerLink]="['/subastas/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="subastasApp.subastas.home.createLabel">
            Create a new Subastas
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="subastas?.length === 0">
        <span jhiTranslate="subastasApp.subastas.home.notFound">No subastas found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="subastas?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="nombre"><span jhiTranslate="subastasApp.subastas.nombre">Nombre</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="decripcion"><span jhiTranslate="subastasApp.subastas.decripcion">Decripcion</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="fechainicio"><span jhiTranslate="subastasApp.subastas.fechainicio">Fechainicio</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="fechafinal"><span jhiTranslate="subastasApp.subastas.fechafinal">Fechafinal</span> <fa-icon icon="sort"></fa-icon></th>
                    <!--th scope="col"  jhiSortBy="timpoRecloGanador"><span jhiTranslate="subastasApp.subastas.timpoRecloGanador">Timpo Reclo Ganador</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="fechacreacion"><span jhiTranslate="subastasApp.subastas.fechacreacion">Fechacreacion</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="valorinicial"><span jhiTranslate="subastasApp.subastas.valorinicial">Valorinicial</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="valoractual"><span jhiTranslate="subastasApp.subastas.valoractual">Valoractual</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="valortope"><span jhiTranslate="subastasApp.subastas.valortope">Valortope</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="pagaAnticipo"><span jhiTranslate="subastasApp.subastas.pagaAnticipo">Paga Anticipo</span> <fa-icon icon="sort"></fa-icon></th-->
                    <!--th scope="col"  jhiSortBy="pesobaseporkg"><span jhiTranslate="subastasApp.subastas.pesobaseporkg">Pesobaseporkg</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="pesototallote"><span jhiTranslate="subastasApp.subastas.pesototallote">Pesototallote</span> <fa-icon icon="sort"></fa-icon></th-->
                    <!--th scope="col"  jhiSortBy="valorAnticipo"><span jhiTranslate="subastasApp.subastas.valorAnticipo">Valor Anticipo</span> <fa-icon icon="sort"></fa-icon></th-->
                    <th scope="col"  jhiSortBy="imagenUrl"><span jhiTranslate="subastasApp.subastas.imagenUrl">Imagen Url</span> <fa-icon icon="sort"></fa-icon></th>
                    <!--th scope="col"  jhiSortBy="videoUrl"><span jhiTranslate="subastasApp.subastas.videoUrl">Video Url</span> <fa-icon icon="sort"></fa-icon></th-->
                    <th scope="col"  jhiSortBy="estadoActivo"><span jhiTranslate="subastasApp.subastas.estadoActivo">Estado Activo</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="eventos.id"><span jhiTranslate="subastasApp.subastas.eventos">Eventos</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let subastas of subastas ;trackBy: trackId">
                    <td><a [routerLink]="['/subastas', subastas.id, 'view']">{{ subastas.id }}</a></td>
                    <td>{{ subastas.nombre }}</td>
                    <td>{{ subastas.decripcion }}</td>
                    <td>{{ subastas.fechainicio | date:'MM/dd/yyyy hh:mm:ss a' }}</td>
                    <td>{{ subastas.fechafinal | date:'MM/dd/yyyy hh:mm:ss a' }}</td>
                    <!--td>{{ subastas.timpoRecloGanador }}</td>
                    <td>{{ subastas.fechacreacion | date:'medium' }}</td>
                    <td>{{ subastas.valorinicial }}</td>
                    <td>{{ subastas.valoractual }}</td>
                    <td>{{ subastas.valortope }}</td>
                    <td>{{ subastas.pagaAnticipo }}</td--> 
                    <!--td>{{ subastas.pesobaseporkg }}</td>
                    <td>{{ subastas.pesototallote }}</td-->
                    <!--td>{{ subastas.valorAnticipo }}</td-->
                    <td>
                        <a *ngIf="subastas.imagenUrl" (click)="openFile(subastas.imagenUrlContentType, subastas.imagenUrl)">
                            <img [src]="'data:' + subastas.imagenUrlContentType + ';base64,' + subastas.imagenUrl" style="max-height: 30px;" alt="subastas image"/>
                        </a>
                        <!--span *ngIf="subastas.imagenUrl">{{ subastas.imagenUrlContentType }}, {{ byteSize(subastas.imagenUrl) }}</span-->
                    </td>
                    <!--td>{{ subastas.videoUrl }}</td-->
                    <td>{{ subastas.estadoActivo }}</td>
                    <td>
                        <div *ngIf="subastas.eventos">
                            <a [routerLink]="['/eventos', subastas.eventos?.id, 'view']" >{{ subastas.eventos?.nombre }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/subastas', subastas.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/subastas', subastas.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(subastas)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="subastas?.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
