<div>
    <h2 id="page-heading">
        <span jhiTranslate="subastasApp.razas.home.title">Razas</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-razas" [routerLink]="['/razas/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="subastasApp.razas.home.createLabel">
            Create a new Razas
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="razas?.length === 0">
        <span jhiTranslate="subastasApp.razas.home.notFound">No razas found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="razas?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="nombre"><span jhiTranslate="subastasApp.razas.nombre">Nombre</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="decripcion"><span jhiTranslate="subastasApp.razas.decripcion">Decripcion</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="code"><span jhiTranslate="subastasApp.razas.code">Code</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="especies.id"><span jhiTranslate="subastasApp.razas.especies">Especies</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let razas of razas ;trackBy: trackId">
                    <td><a [routerLink]="['/razas', razas.id, 'view']">{{ razas.id }}</a></td>
                    <td>{{ razas.nombre }}</td>
                    <td>{{ razas.decripcion }}</td>
                    <td>{{ razas.code }}</td>
                    <td>
                        <div *ngIf="razas.especies">
                            <a [routerLink]="['/especies', razas.especies?.id, 'view']" >{{ razas.especies?.nombre }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/razas', razas.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/razas', razas.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(razas)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="razas?.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
