<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="municipios">
            <h2><span jhiTranslate="subastasApp.municipios.detail.title">Municipios</span> {{ municipios.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="subastasApp.municipios.idmunicipios">Idmunicipios</span></dt>
                <dd>
                    <span>{{ municipios.idmunicipios }}</span>
                </dd>
                <dt><span jhiTranslate="subastasApp.municipios.municipio">Municipio</span></dt>
                <dd>
                    <span>{{ municipios.municipio }}</span>
                </dd>
                <dt><span jhiTranslate="subastasApp.municipios.estado">Estado</span></dt>
                <dd>
                    <span>{{ municipios.estado }}</span>
                </dd>
                <dt><span jhiTranslate="subastasApp.municipios.departamentos">Departamentos</span></dt>
                <dd>
                    <div *ngIf="municipios.departamentos">
                        <a [routerLink]="['/departamentos', municipios.departamentos?.id, 'view']">{{ municipios.departamentos?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/municipios', municipios.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
