<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-cliente-heading" jhiTranslate="subastasApp.cliente.home.createOrEditLabel">Create or edit a Cliente</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="subastasApp.cliente.tipoDocumento" for="field_tipoDocumento">Tipo Documento</label>
                    <select class="form-control" id="field_tipoDocumento" name="tipoDocumento" formControlName="tipoDocumento" >
                        <option *ngIf="!editForm.get('tipoDocumento')!.value" [ngValue]="null" selected ></option>
                        <option [ngValue]="tipoDocumentoOption.id === editForm.get('tipoDocumento')!.value?.id ? editForm.get('tipoDocumento')!.value : tipoDocumentoOption" *ngFor="let tipoDocumentoOption of tipodocumentos; trackBy: trackById" >{{ tipoDocumentoOption.nombre }}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('tipoDocumento')!.invalid && (editForm.get('tipoDocumento')!.dirty || editForm.get('tipoDocumento')!.touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('tipoDocumento')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="subastasApp.cliente.numeroDocumento" for="field_numeroDocumento">Numero Documento</label>
                    <input type="number" class="form-control" name="numeroDocumento" id="field_numeroDocumento"
                           formControlName="numeroDocumento"/>
                    <div *ngIf="editForm.get('numeroDocumento')!.invalid && (editForm.get('numeroDocumento')!.dirty || editForm.get('numeroDocumento')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('numeroDocumento')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('numeroDocumento')?.errors?.min" jhiTranslate="entity.validation.min" [translateValues]="{ min: 5 }">
                            This field should be at least 5.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('numeroDocumento')?.errors?.max" jhiTranslate="entity.validation.max" [translateValues]="{ max: 20 }">
                            This field cannot be more than 20.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('numeroDocumento')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="subastasApp.cliente.nombre" for="field_nombre">Nombre</label>
                    <input type="text" class="form-control" name="nombre" id="field_nombre"
                           formControlName="nombre"/>
                    <div *ngIf="editForm.get('nombre')!.invalid && (editForm.get('nombre')!.dirty || editForm.get('nombre')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('nombre')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('nombre')?.errors?.minlength" jhiTranslate="entity.validation.minlength" [translateValues]="{ min: 5 }">
                        This field is required to be at least 5 characters.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('nombre')?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 100 }">
                        This field cannot be longer than 100 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="subastasApp.cliente.apellido" for="field_apellido">Apellido</label>
                    <input type="text" class="form-control" name="apellido" id="field_apellido"
                           formControlName="apellido"/>
                    <div *ngIf="editForm.get('apellido')!.invalid && (editForm.get('apellido')!.dirty || editForm.get('apellido')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('apellido')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('apellido')?.errors?.minlength" jhiTranslate="entity.validation.minlength" [translateValues]="{ min: 5 }">
                        This field is required to be at least 5 characters.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('apellido')?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 100 }">
                        This field cannot be longer than 100 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="subastasApp.cliente.correo" for="field_correo">Correo</label>
                    <input type="text" class="form-control" name="correo" id="field_correo"
                           formControlName="correo"/>
                    <div *ngIf="editForm.get('correo')!.invalid && (editForm.get('correo')!.dirty || editForm.get('correo')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('correo')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('correo')?.errors?.minlength" jhiTranslate="entity.validation.minlength" [translateValues]="{ min: 5 }">
                        This field is required to be at least 5 characters.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('correo')?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 255 }">
                        This field cannot be longer than 255 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="subastasApp.cliente.nombrerepresentantelegal" for="field_nombrerepresentantelegal">Nombrerepresentantelegal</label>
                    <input type="text" class="form-control" name="nombrerepresentantelegal" id="field_nombrerepresentantelegal"
                           formControlName="nombrerepresentantelegal"/>
                    <div *ngIf="editForm.get('nombrerepresentantelegal')!.invalid && (editForm.get('nombrerepresentantelegal')!.dirty || editForm.get('nombrerepresentantelegal')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('nombrerepresentantelegal')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('nombrerepresentantelegal')?.errors?.minlength" jhiTranslate="entity.validation.minlength" [translateValues]="{ min: 5 }">
                        This field is required to be at least 5 characters.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('nombrerepresentantelegal')?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 100 }">
                        This field cannot be longer than 100 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="subastasApp.cliente.telefonocelular" for="field_telefonocelular">Telefonocelular</label>
                    <input type="text" class="form-control" name="telefonocelular" id="field_telefonocelular"
                           formControlName="telefonocelular"/>
                    <div *ngIf="editForm.get('telefonocelular')!.invalid && (editForm.get('telefonocelular')!.dirty || editForm.get('telefonocelular')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('telefonocelular')?.errors?.minlength" jhiTranslate="entity.validation.minlength" [translateValues]="{ min: 5 }">
                        This field is required to be at least 5 characters.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('telefonocelular')?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 45 }">
                        This field cannot be longer than 45 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="subastasApp.cliente.telefonofijo" for="field_telefonofijo">Telefonofijo</label>
                    <input type="text" class="form-control" name="telefonofijo" id="field_telefonofijo"
                           formControlName="telefonofijo"/>
                    <div *ngIf="editForm.get('telefonofijo')!.invalid && (editForm.get('telefonofijo')!.dirty || editForm.get('telefonofijo')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('telefonofijo')?.errors?.minlength" jhiTranslate="entity.validation.minlength" [translateValues]="{ min: 5 }">
                        This field is required to be at least 5 characters.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('telefonofijo')?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 45 }">
                        This field cannot be longer than 45 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="subastasApp.cliente.telefonoempresarial" for="field_telefonoempresarial">Telefonoempresarial</label>
                    <input type="text" class="form-control" name="telefonoempresarial" id="field_telefonoempresarial"
                           formControlName="telefonoempresarial"/>
                    <div *ngIf="editForm.get('telefonoempresarial')!.invalid && (editForm.get('telefonoempresarial')!.dirty || editForm.get('telefonoempresarial')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('telefonoempresarial')?.errors?.minlength" jhiTranslate="entity.validation.minlength" [translateValues]="{ min: 5 }">
                        This field is required to be at least 5 characters.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('telefonoempresarial')?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 45 }">
                        This field cannot be longer than 45 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="subastasApp.cliente.telefonorepresentantelegal" for="field_telefonorepresentantelegal">Telefonorepresentantelegal</label>
                    <input type="text" class="form-control" name="telefonorepresentantelegal" id="field_telefonorepresentantelegal"
                           formControlName="telefonorepresentantelegal"/>
                    <div *ngIf="editForm.get('telefonorepresentantelegal')!.invalid && (editForm.get('telefonorepresentantelegal')!.dirty || editForm.get('telefonorepresentantelegal')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('telefonorepresentantelegal')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('telefonorepresentantelegal')?.errors?.minlength" jhiTranslate="entity.validation.minlength" [translateValues]="{ min: 5 }">
                        This field is required to be at least 5 characters.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('telefonorepresentantelegal')?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 45 }">
                        This field cannot be longer than 45 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="subastasApp.cliente.direccionresidencial" for="field_direccionresidencial">Direccionresidencial</label>
                    <input type="text" class="form-control" name="direccionresidencial" id="field_direccionresidencial"
                           formControlName="direccionresidencial"/>
                    <div *ngIf="editForm.get('direccionresidencial')!.invalid && (editForm.get('direccionresidencial')!.dirty || editForm.get('direccionresidencial')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('direccionresidencial')?.errors?.minlength" jhiTranslate="entity.validation.minlength" [translateValues]="{ min: 5 }">
                        This field is required to be at least 5 characters.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('direccionresidencial')?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 100 }">
                        This field cannot be longer than 100 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="subastasApp.cliente.direccionempresarial" for="field_direccionempresarial">Direccionempresarial</label>
                    <input type="text" class="form-control" name="direccionempresarial" id="field_direccionempresarial"
                           formControlName="direccionempresarial"/>
                    <div *ngIf="editForm.get('direccionempresarial')!.invalid && (editForm.get('direccionempresarial')!.dirty || editForm.get('direccionempresarial')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('direccionempresarial')?.errors?.minlength" jhiTranslate="entity.validation.minlength" [translateValues]="{ min: 5 }">
                        This field is required to be at least 5 characters.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('direccionempresarial')?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 100 }">
                        This field cannot be longer than 100 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="subastasApp.cliente.direccionrepresentantelegal" for="field_direccionrepresentantelegal">Direccionrepresentantelegal</label>
                    <input type="text" class="form-control" name="direccionrepresentantelegal" id="field_direccionrepresentantelegal"
                           formControlName="direccionrepresentantelegal"/>
                    <div *ngIf="editForm.get('direccionrepresentantelegal')!.invalid && (editForm.get('direccionrepresentantelegal')!.dirty || editForm.get('direccionrepresentantelegal')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('direccionrepresentantelegal')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('direccionrepresentantelegal')?.errors?.minlength" jhiTranslate="entity.validation.minlength" [translateValues]="{ min: 5 }">
                        This field is required to be at least 5 characters.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('direccionrepresentantelegal')?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 100 }">
                        This field cannot be longer than 100 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="subastasApp.cliente.fechanacimiento" for="field_fechanacimiento">Fechanacimiento</label>
                    <div class="input-group">
                        <input id="field_fechanacimiento" type="text" class="form-control" name="fechanacimiento" ngbDatepicker #fechanacimientoDp="ngbDatepicker" formControlName="fechanacimiento"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="fechanacimientoDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
                        </span>
                    </div>
                    <div *ngIf="editForm.get('fechanacimiento')!.invalid && (editForm.get('fechanacimiento')!.dirty || editForm.get('fechanacimiento')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('fechanacimiento')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="subastasApp.cliente.idusuario" for="field_idusuario">Idusuario</label>
                    <input type="text" class="form-control" name="idusuario" id="field_idusuario"
                           formControlName="idusuario"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="subastasApp.cliente.imagenUrl" for="field_imagenUrl">Imagen Url</label>
                    <div>
                        <img [src]="'data:' + editForm.get('imagenUrlContentType')!.value + ';base64,' + editForm.get('imagenUrl')!.value" style="max-height: 100px;" *ngIf="editForm.get('imagenUrl')!.value" alt="cliente image"/>
                        <div *ngIf="editForm.get('imagenUrl')!.value" class="form-text text-danger clearfix">
                            <span class="pull-left">{{ editForm.get('imagenUrlContentType')!.value }}, {{ byteSize(editForm.get('imagenUrl')!.value) }}</span>
                            <button type="button" (click)="clearInputImage('imagenUrl', 'imagenUrlContentType', 'file_imagenUrl')" class="btn btn-secondary btn-xs pull-right">
                                <fa-icon icon="times"></fa-icon>
                            </button>
                        </div>
                        <input type="file" id="file_imagenUrl" (change)="setFileData($event, 'imagenUrl', true)" accept="image/*" jhiTranslate="entity.action.addimage"/>
                    </div>
                    <input type="hidden" class="form-control" name="imagenUrl" id="field_imagenUrl"
                           formControlName="imagenUrl"/>
                    <input type="hidden" class="form-control" name="imagenUrlContentType" id="field_imagenUrlContentType"
                           formControlName="imagenUrlContentType" />
                </div>

                <!--div class="form-group">
                    <label class="form-control-label" jhiTranslate="subastasApp.cliente.idciudad" for="field_idciudad">Idciudad</label>
                    <input type="number" class="form-control" name="idciudad" id="field_idciudad"
                           formControlName="idciudad"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="subastasApp.cliente.anonimo" for="field_anonimo">Anonimo</label>
                    <input type="checkbox" class="form-control" name="anonimo" id="field_anonimo"
                           formControlName="anonimo"/>
                </div-->

                <div class="form-group" >
                    <label class="form-control-label" jhiTranslate="subastasApp.cliente.estadocliente" for="field_estadocliente">Estadocliente</label>
                    <select class="form-control" id="field_estadocliente" name="estadocliente" formControlName="estadocliente">
                        <option *ngIf="!editForm.get('estadocliente')!.value" [ngValue]="null" selected></option>
                        <option [ngValue]="estadoClienteOption.id === editForm.get('estadocliente')!.value?.id ? editForm.get('estadocliente')!.value : estadoClienteOption" *ngFor="let estadoClienteOption of estadoclientes; trackBy: trackById">{{ estadoClienteOption.nombre }}</option>
                    </select>
                </div>
                <div  *ngIf="editForm.get('estadocliente')!.invalid && (editForm.get('estadocliente')!.dirty || editForm.get('estadocliente')!.touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('estadocliente')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
