<div>
    <h2 id="page-heading">
        <span jhiTranslate="subastasApp.contenido.home.title">Contenidos</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-contenido" [routerLink]="['/contenido/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="subastasApp.contenido.home.createLabel">
            Create a new Contenido
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="contenidos?.length === 0">
        <span jhiTranslate="subastasApp.contenido.home.notFound">No contenidos found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="contenidos?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="tipo"><span jhiTranslate="subastasApp.contenido.tipo">Tipo</span> <fa-icon icon="sort"></fa-icon></th>
                    <!--th scope="col"  jhiSortBy="url"><span jhiTranslate="subastasApp.contenido.url">Url</span> <fa-icon icon="sort"></fa-icon></th-->
                    <th scope="col"  jhiSortBy="imagenUrl"><span jhiTranslate="subastasApp.contenido.imagenUrl">Imagen Url</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="texto"><span jhiTranslate="subastasApp.contenido.texto">Texto</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="entidad"><span jhiTranslate="subastasApp.contenido.entidad">Entidad</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="idEntidad"><span jhiTranslate="subastasApp.contenido.idEntidad">Id Entidad</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let contenido of contenidos ;trackBy: trackId">
                    <td><a [routerLink]="['/contenido', contenido.id, 'view']">{{ contenido.id }}</a></td>
                    <td jhiTranslate="{{ 'subastasApp.TipoContenido.' + contenido.tipo }}">{{ contenido.tipo }}</td>
                    <!--td>{{ contenido.url }}</td-->
                    <td>
                        <a *ngIf="contenido.imagenUrl" (click)="openFile(contenido.imagenUrlContentType, contenido.imagenUrl)">
                            <img [src]="'data:' + contenido.imagenUrlContentType + ';base64,' + contenido.imagenUrl" style="max-height: 30px;" alt="contenido image"/>
                        </a>
                        <!--span *ngIf="contenido.imagenUrl">{{ contenido.imagenUrlContentType }}, {{ byteSize(contenido.imagenUrl) }}</span-->
                    </td>
                    <td>{{ contenido.texto }}</td>
                    <td jhiTranslate="{{ 'subastasApp.EntidadContenido.' + contenido.entidad }}">{{ contenido.entidad }}</td>
                    <td>{{ contenido.idEntidad }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/contenido', contenido.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/contenido', contenido.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(contenido)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="contenidos?.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
