<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="especies">
            <h2><span jhiTranslate="subastasApp.especies.detail.title">Especies</span> {{ especies.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="subastasApp.especies.nombre">Nombre</span></dt>
                <dd>
                    <span>{{ especies.nombre }}</span>
                </dd>
                <dt><span jhiTranslate="subastasApp.especies.decripcion">Decripcion</span></dt>
                <dd>
                    <span>{{ especies.decripcion }}</span>
                </dd>
                <dt><span jhiTranslate="subastasApp.especies.code">Code</span></dt>
                <dd>
                    <span>{{ especies.code }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/especies', especies.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
